@font-face {
    font-family: roboto-black;
    src:url(Roboto-Black.ttf);

}


@font-face {
    font-family: roboto-regular;
    src:url(Roboto-Regular.ttf);

}

@font-face {
    font-family: roboto-italic;
    src:url(Roboto-ThinItalic.ttf);

}





.body {
    background-color: #1f2937;
    color: white;
     height: 500px;
     margin:0px;
}

.menu {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
      font-family: roboto-regular;

}

ul {
    list-style-type: none;
    font-size: 18px
}

a {
    margin: 8px;
}



a:link {
    text-decoration: none;
    color: white;
}

.header {
    font-size: 24px;
    width: 480px;
     font-family: roboto-black;
}

.blue{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
   
}

.button1 {
    color: white;
    background-color:#3882f6;
   margin: 10px;
   padding: 5px;
   margin-left: 0px;
   justify-content: center;
   width: 100px;
   border: 2px;
   border-color: #3882f6;
   border-style: solid;
   border-radius: 5px;
     font-family: roboto-regular;
}








.button2 {
    color: white;
    background-color:#3882f6;
   margin: 10px;
   padding: 5px;
   margin-left: 0px;
   justify-content: center;
   width: 100px;
   border: 2px;
   border-color: white;
   border-style: solid;
   border-radius: 5px;
     font-family: roboto-regular;
}



.title1 {
    font-size: 48px;
    font-weight: 400;
    font-family: roboto-black;
   
}


.text1 {
   font-size: 18px;
   font-family: roboto-regular;
}

.top2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 100px;
}

img {
    width: 500px;
    height: 200px;
}

.container1 {
width: 400px;
margin-right: 32px;
}

body {
    margin: 0px;
}

.title2 {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    margin: 30px;
    font-family: roboto-black;
    }

    .container2 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

    }

  .images img {
        width: 150px;
        height: 150px;
        border: 3px;
        border-color: #3882f6;
        border-style: solid;
        border-radius: 10px;
   }
    

    .texta {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:justify;
          font-family: roboto-regular;
        
    }

    .groups {
 margin:0px;
  justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }



    .middle {
        height: 400px;
    }

    .text {
        font-size: 18px;
              font-family: roboto-regular;
    }


 

    .container3 {
        font-size: 36px;
        background-color: #e5e7eb;
        height: 400px;
        padding: 40px;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        text-align: justify;
    }

    .title3 {
        color: #1f2937;
        width: 800px;
        font-family: roboto-italic;
    }

    .author {
display: flex;
justify-content: flex-end;
width: 800px;
font-size: 28px;
font-family: roboto-black;
    }



.container4 {
        color: white;
        background-color:#3882f6;
        margin: 100px;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 800px;
        display: flex;
        flex-direction: row;
        padding: 50px;
        padding-left: 100px;
        padding-right: 100px;
        border-radius: 10px;
    }



    .middle2 {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .Calltoaction {
        font-size: 28px;
        font-family: roboto-black;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #1f2937;
        color: white;
              font-family: roboto-regular;

    }

    .images {
       
        margin: 24px;
        margin-top: 0px;
        border-radius: 20px;
    }
  

